composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


# Ignore most of the stuff in the volume mount point -- this is the bit that wasn't working right in the original image
/datastax-studio-config/snapshots/
/datastax-studio-config/eventlogs/
/datastax-studio-config/history/

*.log